@{
	ViewBag.Title = "search.cshtml";
  
}

@section head{


	<link href= "@Url.Content("~/Content/jUI/css/chosen.css")" rel="stylesheet" />
	<script src="@Url.Content("~/Scripts/jUI/chosen.jquery.js")" type="text/javascript" ></script>
	<script src="@Url.Content("~/Scripts/jUI/jui.jselect.js")" type="text/javascript"></script>
	<link href="@Url.Content("~/Content/jUI/css/jui.jdatetimepicker.css")" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jUI/jui.jdatetimepicker.js")"></script>

    <script src="@Url.Content("~/Scripts/jUI/jui.jsearch.js")" type="text/javascript"></script>

	<style type="text/css">
		.jui-jSearch
		{
		}

			.jui-jSearch table
			{
				border: 1px solid #cccccc;
				border-collapse: collapse;
				width: 100%;

			}

	           
	            .jui-jSearch table tr
	            {
                  
                    line-height:30px;
	            }


	</style>
	<script type="text/javascript">
		$(function () {
		
		    $("#searchContent").jsearch();
		});


	</script>

}

@section header{

}

@section left{
}

@section right{
}

@section footer{
}


@section scripts{

}



<h2>search</h2>
<div class="jui-jSearch" id="searchContent">

</div>

