<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>

	@Styles.Render("~/css/basic")
	@Scripts.Render("~/script/basic")

	@Styles.Render("~/css/syntaxhighlighter")
	@Scripts.Render("~/script/syntaxhighlighter")
	
	<link href="@Url.Content("~/Content/jui.description.css")" rel="stylesheet" type="text/css" />

	@RenderSection("head", required: false)
</head>
<body>
	<header id="TopDiv">
		@RenderSection("header", required: false)
	</header>
	<div id="ContentDiv">
		<aside id="LeftDiv">
			@RenderSection("left", required: false)
		</aside>
		<aside id="RightDiv">
			@RenderSection("right", required: false)
		</aside>
		<div id="MainDiv">
			@RenderBody()
		</div>
	</div>
	<footer id="BottomDiv">
		@RenderSection("footer", required: false)
	</footer>
	@RenderSection("scripts", required: false)
</body>
</html>
